<h1>Grey Coders</h1>

<h3>Webpage and Phone App building for the more mature computer nerd!</h3>

<%=image_tag 'ebook_penguin.png'%>

Hi,
Grey Coders is a not-for-profit organisation all about learning computer coding that will enable you to design and build websites and smartphone apps, together with sharing your knowledge and experience with others, on this page.
I have been retired now for three years and while I enjoy being retired and doing those things that I always wanted to do but did not have the time when I was working, there was a gap in my life that needed filling with some new interest.
I eventually chose commuter coding and after I had spent a minimal amount of cash on computer based coding training courses, I am hooked on this new hobby.
This past-time has a number of advantages for the more mature or retired individual:-
<ul>
  <li>1. It does not require physical effort to do. So it is something that you can do even if you have mobility issues.</li>
<li>2. It is creative because you are working with a language so it is a little like being a writer, there are no limits to what you can create.</li>
<li>3. More and more folk are embracing new technologies such as smartphones and tablets. When you learn coding you begin to understand and debunk the mystery behind these technologies.</li>
<li>4. You can earn money if you are good at coding. You may not earn a fortune, but probably enough to keep the wolves away from the door.</li>
<li>5. Programming and coding is not difficult, but remember you have to learn the basic skills before you can fly.</li>
<li>6. Programming and coding can be lonely, but I hope that Gray Coders will develop into a community where ideas, opinions and companionship can be developed. There are also numerous online forums you can join in this field.</li>
</ul>

<%=link_to 'home', root_path%>


